.title {
  text-align: center;
  height: 100%;
  color: rgba(231, 19, 72, 0.904);
  vertical-align: middle;
  font-family: "Permanent Marker", cursive;
  font-size: 84px;
  letter-spacing: 10px;
  text-shadow: 6px 4px black;
}

.artistTitle{
  text-align: center;
  height: 100%;
  color: rgba(199, 185, 189, 0.904);
  vertical-align: middle;
  font-family: "Permanent Marker", cursive;
  font-size: 84px;
  letter-spacing: 10px;
  text-shadow: 6px 4px black;
  text-decoration: underline;
}


.indexHeader, .site-Footer {
  background-image: url("../img/hazard-stripes-wallpaper-900x652.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 175px;
  display: flex;
  align-items: center;
}

.djangoHeader{
  background-image: url("../img/AZSunset.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 175px;
  display: flex;
  align-items: center;
}


.nav-item {
  color: black;
}

.navbar {
  background-color: black;
}

.sidePics{
  height: 800px;
  width: 100%;
}

.zedPics{
  height: 100%;
  width: 100%;
}

.atristPics {
  height: 800px;
  width: 400px;
}

.carouselDjango {
  font-family: "Crafty Girls", cursive;
  color: rgb(154, 35, 165);
  text-shadow: 9px 10px black;
  font-size: 100px;
  text-decoration: underline;
}

.carouselMordecai{
  font-family: "Crafty Girls", cursive;
  color: rgb(35, 165, 96);
  text-shadow: 9px 10px black;
  font-size: 100px;
  text-decoration: underline;
}

.carouselTinyTina{
  font-family: "Crafty Girls", cursive;
  color: rgb(177, 189, 19);
  text-shadow: 9px 10px black;
  font-size: 100px;
  text-decoration: underline;
}

.carouselRampart{
  font-family: "Crafty Girls", cursive;
  color: rgb(12, 49, 149);
  text-shadow: 9px 10px black;
  font-size: 100px;
  text-decoration: underline;
}

.carouselCaption {
  font-family: "Crafty Girls", cursive;
  color: rgb(234, 225, 235);
  text-shadow: 10px 8px black;
  font-size: 30px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.afterCareTitle, .mediaTitle{
  text-align: center;
  height: 100%;
  color: rgba(231, 19, 72, 0.904);
  vertical-align: middle;
  font-family: "Permanent Marker", cursive;
  font-size: 65px;
  letter-spacing: 10px;
  text-shadow: 6px 4px black;
  border: inset black;
}


.afterCareRow{
  background-image: linear-gradient(rgb(119, 119, 122), rgb(117, 24, 24));
}

.mediaRow{
  background-image: linear-gradient(rgb(245, 17, 245), rgb(221, 218, 46));
}

.afterCareInfo{
  background-color: rgb(218, 202, 183);
  border-left: inset black;
  border-right: inset black;
}

.afterCare{
  font-family: "Crafty Girls", cursive;
  text-align: center;
  font-size: 23px;
}

.afterCareSteps{
  font-family: "Crafty Girls", cursive;
  font-size: 25px;
}

.videoRow{
  background-image: url("../img/ApocolypticBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.insideVideoRow{
  justify-content: center;
}

.contactLink{
  color: black;
  font-family: "Permanent Marker", cursive;
  font-size: 19px;
  text-shadow: 2px 3px rgba(163, 24, 59, 0.904);
}


.linkTitle{
  color: black;
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
  text-shadow: 2px 3px rgba(163, 24, 59, 0.904);
  text-decoration: underline overline;
}

.djangoPic{
  border-left: 8px solid black;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
  height: 100%;
}

.artWorkTitle{
  text-align: center;
  color: rgba(0, 0, 0, 0.342);
  vertical-align: middle;
  font-family: "Permanent Marker", cursive;
  font-size: 64px;
  letter-spacing: 10px;
  text-shadow: 6px 4px black;
  text-decoration: underline;
  background-image: url("../img/boltedWood.jpg");
}

.merchTitle{
  text-align: center;
  color: rgba(199, 185, 189, 0.904);
  vertical-align: middle;
  font-family: "Permanent Marker", cursive;
  font-size: 64px;
  letter-spacing: 10px;
  text-shadow: 6px 4px black;
  text-decoration: underline;
  background-image: url("../img/chains.jpg");
}

.artGallery{
  height: 350px;
  border: solid 3px black
}

.artTitle{
  background-image: url("../img/woodgrain.jpg");
}

.merchRow{
  background-color: rgb(2, 1, 0);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.merchPic{
  text-align: center;
  color: rgb(158, 48, 116);
}

.reviewPic{
  text-align: center;
  color: rgb(32, 12, 88);
}

.price{
  font-size: 25px;
}

.merchGallery{
  height: 200px;
}

.reviewTitle{
  text-align: center;
  color: rgba(199, 185, 189, 0.904);
  vertical-align: middle;
  font-family: "Permanent Marker", cursive;
  font-size: 64px;
  letter-spacing: 10px;
  text-shadow: 6px 4px black;
  text-decoration: underline;
  background-image: url("../img/cowHide.jpg");
}

.reviewRow{
  background: rgb(210,208,155);
  background: radial-gradient(circle, rgba(210,208,155,1) 29%, rgba(249,249,249,1) 87%);
}

.mediaColumn{
  text-align: center;
}

.artistMedia{
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}